.signIn {
  margin-top: 50px;
  margin-bottom: 100px;
  max-width: 500px;
  background-color: #38603a;
  border-radius: 20px;
  /* height: auto; */
  color: white;
}

.box {
  margin: 30px auto;
}
.signup{
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p{
    margin-bottom: 5px;
  }
  a{
    text-decoration: underline;
  }
}