* {
  margin: 0;
  padding: 0;
}
ul li,ol li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}
body {
  font-family: "Inknut Antiqua", serif;
}
.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --darkGreen: #38603a;
  --secondaryGreen: #457447;
  --mGreen: #689d6d;
  --lightGreen: #c3da8a;
}
.container{
  display: flex;
  flex-direction: column;
}
